@page
@model LibraryManagement.Presentation.RazorPages.Pages.Admin.AddBookModel
@{
    ViewData["Title"] = "Add book";
}

<h2>Add Book</h2>

<form method="post">
    <div>
        <label>Title:</label>
        <input asp-for="NewBook.Title" />
    </div>
    <div>
        <label>Description:</label>
        <input asp-for="NewBook.Description" />
    </div>
    <div>
        <label>Author name:</label>
        <input asp-for="NewBook.AuthorName" />
    </div>
    <div>
        <label>Author surname:</label>
        <input asp-for="NewBook.AuthorSurname" />
    </div>
    <button type="submit">Add</button>
</form>
