@page
@model LibraryManagement.Presentation.RazorPages.Pages.Admin.AddLoanModel
@{
    ViewData["Title"] = "Add loan";
}

<h2>Add loan</h2>

<form method="post">
    <div>
        <label>Book:</label>
        <select asp-for="NewLoan.BookId" asp-items="Model.BookOptions"></select>
    </div>
    <div>
        <label>Reader:</label>
        <select asp-for="NewLoan.ReaderId" asp-items="Model.ReaderOptions"></select>
    </div>
    <button type="submit">Add</button>
</form>
