@page "{id:int}"
@model LibraryManagement.Presentation.RazorPages.Pages.Admin.EditBookModel
@{
    ViewData["Title"] = "Edit book";
}

<h2>Edit book</h2>

<form method="post">
    <input type="hidden" asp-for="Book.Id" />
    <div>
        <label>Title:</label>
        <input asp-for="Book.Title" />
    </div>
    <div>
        <label>Decription:</label>
        <input asp-for="Book.Description" />
    </div>
    <div>
        <label>Author name:</label>
        <input asp-for="Book.AuthorName" />
    </div>
    <div>
        <label>Author surname:</label>
        <input asp-for="Book.AuthorSurname" />
    </div>
    <button type="submit">Save changes</button>
</form>
