@page "{id:int}"
@model LibraryManagement.Presentation.RazorPages.Pages.Admin.EditReaderModel
@{
    ViewData["Title"] = "Edit Reader";
}

<h2>Edit Reader</h2>

<form method="post">
    <input type="hidden" asp-for="Reader.Id" />
    <div>
        <label>Name:</label>
        <input asp-for="Reader.Name" />
    </div>
    <div>
        <label>Surname:</label>
        <input asp-for="Reader.Surname" />
    </div>
    <div>
        <label>BirthDate:</label>
        <input asp-for="Reader.BirthDate" />
    </div>
    <button type="submit">Save changes</button>
</form>
